<h1>Breeds index</h1>

 <ul>
    <% @breeds.each do |breed| %>
    <li><%= link_to "#{breed.name}", breed_path(breed), :class=> "btn btn-default" %></li>
    <% end %>

 </ul>

<%= link_to "Add a New breed", new_breed_path, :class=> "btn btn-default" %>
