<h1>All Animals Index</h1>
 <ul>
    <% @animals.each do |animal| %>
    <li><%= link_to "#{animal.name}", animal_path(animal), :class=> "btn btn-default" %></li>
    <% end %>

 </ul>

<%= link_to "Add a New Animal", new_animal_path, :class=> "btn btn-default" %>
