// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: lightgray;
}

.th {
  width: 100%;
  min-width: 100px;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: lightblue;
}



